# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# wrangler
wrangler.toml
.wrangler/*
.next
.wrangler/state/v3/d1/miniflare-D1DatabaseObject/587effecfaa250c33f2a3b641973b6d5243ca9ae2c5dfe52c0187c3338ae57f0.sqlite
